In [10]:
import pandas as pd
data_dir = "../../data/Visual_well_being/"

df = pd.read_pickle(data_dir + 'image_data.pickle')

In [37]:
df.dtypes

image_id                   object
image_link                 object
image_url                  object
image_height              float64
image_width               float64
image_filter               object
image_posted_time_unix     object
image_posted_time          object
data_memorability         float64
user_id                    object
user_full_name             object
user_name                  object
user_website               object
user_profile_pic           object
user_bio                   object
user_followed_by          float64
user_follows              float64
user_posted_photos        float64
dtype: object

In [36]:
df.shape

(41206, 18)

In [39]:
pd.read_pickle(data_dir + "survey.pickle").dtypes

index                       int64
id                       category
gender                   category
born                        int32
education                category
employed                 category
income                   category
A_2                         int32
N_1                         int32
P_1                         int32
E_1                         int32
A_1                         int32
H_1                         int32
M_1                         int32
R_1                         int32
M_2                         int32
E_2                         int32
LON                         int32
H_2                         int32
P_2                         int32
N_2                         int32
A_3                         int32
N_3                         int32
E_3                         int32
H_3                         int32
R_2                         int32
M_3                         int32
R_3                         int32
P_3                         int32
HAP                       float64
participate              category
insta_user_id               int64
completed                category
start_q            datetime64[ns]
end_q                    category
network_id               category
P                         float64
E                         float64
R                         float64
M                         float64
A                         float64
PERMA                     float64
N_EMO                     float64
P_EMO                     float64
imagecount                float64
private_account            object
dtype: object

In [47]:
i = df#[["user_id","image_posted_time","image_id"]]
i.user_id = pd.to_numeric(i.user_id)
i.image_posted_time = pd.to_datetime(i.image_posted_time)

s = pd.read_pickle(data_dir + "survey.pickle")[["start_q","insta_user_id"]]

ii = i.merge(s,left_on="user_id",right_on="insta_user_id",how="inner").drop("insta_user_id",axis=1)

In [48]:
months = 12

lower_date_bound = ii.start_q - pd.to_timedelta(months, unit='M')
l = (ii.image_posted_time < ii.start_q) & (lower_date_bound < ii.image_posted_time)

ii[l].shape

(11092, 19)

In [49]:
ii.head(1)

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos,start_q
0,1316962883971761394_3468175004,https://www.instagram.com/p/BJGysPxgsTy/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Lo-fi,1471214231,2016-08-14 22:37:11,0.800521,3468175004,Leah Jenkins,leah.chelle,,https://scontent.cdninstagram.com/t51.2885-19/...,,7.0,0.0,1.0,2016-12-05 14:46:40

In [35]:
ii.shape

(41206, 4)

0       2016-10-06 14:46:40
1       2016-10-06 14:02:36
2       2016-10-06 14:02:36
3       2016-10-06 14:02:36
4       2016-10-06 14:02:36
5       2016-10-06 14:02:36
6       2016-10-06 14:02:36
7       2016-10-06 14:02:36
8       2016-10-06 14:02:36
9       2016-10-06 14:02:36
10      2016-10-06 14:02:36
11      2016-10-06 14:02:36
12      2016-10-06 14:02:36
13      2016-10-06 14:02:36
14      2016-10-06 14:02:36
15      2016-10-06 14:02:36
16      2016-10-06 14:02:36
17      2016-10-06 14:02:36
18      2016-10-06 14:02:36
19      2016-10-06 14:02:36
20      2016-10-06 14:02:36
21      2016-10-06 14:02:36
22      2016-10-06 14:02:36
23      2016-10-06 14:02:36
24      2016-10-06 14:02:36
25      2016-10-06 14:02:36
26      2016-10-06 14:02:36
27      2016-10-06 14:02:36
28      2016-10-06 14:02:36
29      2016-10-06 14:02:36
                ...
41176   2017-01-21 04:04:02
41177   2017-01-21 04:04:02
41178   2017-01-21 04:04:02
41179   2017-01-21 04:04:02
41180   2017-01-21 04:04:02
41181   2017-01-21 04:04:02
41182   2017-01-21 04:04:02
41183   2017-01-21 04:04:02
41184   2017-01-21 04:04:02
41185   2017-01-21 04:04:02
41186   2017-01-21 04:04:02
41187   2017-01-21 04:04:02
41188   2017-01-21 04:04:02
41189   2017-01-21 04:04:02
41190   2017-01-21 04:04:02
41191   2017-01-21 04:04:02
41192   2017-01-21 04:04:02
41193   2017-01-21 04:04:02
41194   2017-01-21 04:04:02
41195   2017-01-21 04:04:02
41196   2017-01-21 04:04:02
41197   2017-01-21 04:04:02
41198   2017-01-21 04:04:02
41199   2017-01-21 04:04:02
41200   2017-01-21 04:04:02
41201   2017-01-21 04:04:02
41202   2017-01-21 04:04:02
41203   2017-01-21 04:04:02
41204   2017-01-21 04:04:02
41205   2016-10-06 19:03:45
Name: start_q, Length: 41206, dtype: datetime64[ns]

In [14]:
i.dtypes

user_id              object
image_posted_time    object
image_id             object
dtype: object

In [8]:

s

                start_q  insta_user_id
22  2016-12-05 15:05:10        1619510
57  2016-12-05 17:25:25        2829661
58  2016-12-05 17:25:35        3069744
5   2016-12-05 14:03:39        3988856
26  2016-12-05 15:45:05        4185084
21  2016-12-05 14:59:15        6734387
78  2016-12-05 18:56:50        7410944
86  2016-12-05 19:02:26        8854187
127 2017-02-13 18:02:38        9931123
9   2016-12-05 14:08:47       11520833
41  2016-12-05 16:28:45       13745951
109 2017-02-08 16:54:32       18108188
62  2016-12-05 17:38:32       18504643
157 2017-03-18 03:15:26       20621627
30  2016-12-05 15:50:32       21697543
84  2016-12-05 19:03:57       22180590
75  2016-12-05 18:48:35       25469443
146 2017-02-26 23:55:32       30191588
110 2017-02-08 20:41:55       30688353
28  2016-12-05 15:46:40       30738858
140 2017-02-22 06:11:19       30837828
68  2016-12-05 18:00:58       31447990
54  2016-12-05 17:20:35       31736205
2   2016-12-05 14:02:42       33420910
24  2016-12-05 15:30:01       33746400
33  2016-12-05 16:02:15       34069800
65  2016-12-05 17:51:48       42566739
149 2017-03-02 02:00:00       45655555
111 2017-02-08 21:37:11       46329534
31  2016-12-05 15:57:32       48972978
..                  ...            ...
124 2017-02-11 03:57:19     2062266819
103 2016-12-05 20:43:42     2092276386
11  2016-12-05 14:11:33     2111135225
77  2016-12-05 18:52:37     2123557533
79  2016-12-05 18:56:22     2125642670
3   2016-12-05 14:02:54     2143580844
92  2016-12-05 19:24:05     2242726591
119 2017-02-09 16:20:36     2262925176
13  2016-12-05 14:24:02     2264409557
91  2016-12-05 19:24:21     2270275269
61  2016-12-05 17:36:07     2307136298
132 2017-02-17 02:28:04     2321879606
100 2016-12-05 20:36:21     2486800367
29  2016-12-05 15:51:01     2542776976
44  2016-12-05 16:45:52     2686680287
141 2017-02-23 15:58:00     2932434558
18  2016-12-05 14:44:37     3041716852
115 2017-02-09 02:16:07     3092060835
20  2016-12-05 14:56:32     3175192849
101 2016-12-05 20:37:18     3232684482
148 2017-03-01 14:25:38     3417740025
19  2016-12-05 14:46:40     3468175004
23  2016-12-05 15:18:41     3600687598
137 2017-02-18 23:22:38     3648088105
32  2016-12-05 15:59:29     3807589911
107 2017-02-08 15:20:28     3896644149
53  2016-12-05 17:12:02     4147997969
145 2017-02-26 22:46:58     4149909836
129 2017-02-14 12:30:38     4239188708
153 2017-03-07 09:51:03     4249629173

[159 rows x 2 columns]

In [4]:

df = pd.read_pickle(data_dir + 'image_metrics.pickle')
df.head(1)

,image_id,comment_count,comment_count_time_created,like_count,like_count_time_created
0,1337283311810249709_3041716852,0.0,19-06-2017 19:33:26,15.0,19-06-2017 19:23:26

In [1]:
import sys
lib_dir = "../../libs/"
if lib_dir not in sys.path:
    sys.path.append(lib_dir)
    
import image_level_agg_features as img_f
import user_level_agg_features as usr_f
import load_clean_data as load

In [3]:
anp2 = load.load_anp()

In [4]:
q = anp2.pivot(index="image_id",columns="anp_label",values="anp_sentiment").reset_index().rename_axis("",axis=1).fillna(0)
q.head()

,image_id,abandoned_area,abandoned_asylum,abandoned_boat,abandoned_building,abandoned_car,abandoned_castle,abandoned_cemetery,abandoned_church,abandoned_city,...,young_model,young_money,young_people,young_person,young_street,young_talents,young_woman,young_women,young_workers,yummy_food
0,1000004599066965477_545497348,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000059425592054064_703978203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000065308809420330_46329534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000080765059521113_31736205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000097452173278518_206726006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0